/*documento*/

*{margin: 0px;
padding: 0px;

}

body{
background-color: rgb(189, 140, 214);
}

/*TIPOGRAFÍA*/
@font-face{

}


/*MAQUETACIÓN O LAYOUT*/

h2{text-align: center;
    width: 250px;
    margin: 15px auto 20px auto;
    padding: 15px;
    border: 2px solid black;
    border-radius: 8px;
    text-transform: uppercase;

}

h1{font-size: 4.3em}
.item p{font-size: 2em;
margin-bottom: 25px;}


.cabecera{
    width: 100%;
    padding: 20px 0px;
}



.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    
}

.item{width: 50%;} 

.item{
    width: 100%;
    flex-wrap:wrap ;
    
}



.item input{
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid rgba(0.0.0.0.466)
}

.item textarea{
    max-width: 100%;
    min-width: 100%;
    height: 200px !important!;
    border-radius:8px ;
    
}

.btn:active{background-color: blue;}

/*MEDIA QUERIES codigos para pantallas de 600px en adelante movile first*/ 
@media only screen and (min-whidth: 600px)


.pie{}


