/*documento*/

header{ 
    margin: 0px 0px 15px 0px;
    padding: 20px;
    background-color: peru;
}

h1{
    text-align: center;
}

main{
    width: 40%;
    margin: auto;
    text-align: justify;
    background-color: khaki;
    padding: 20px 15px 20px 15px;
}

.img{text-align: center; }


.ingrediente{}


.preparacion{}

.pie{
    text-align: center;
    background-color: saddlebrown;
    padding: 15px 0px 15px 0px;
  
}