/*documento*/

section, div, a{
    box-sizing: border-box;
}

*{margin: 0%;
    padding: 0%;
}

h1{
    text-align: center;
    font-size: 3em;
    padding-bottom: 15px;
}

.sociales{
    background-color: rgb(137, 137, 137);
    padding: 30px 0px;
    min-height: 1px;
}

.container{
    display: flex;
    width: 300px;
    margin: auto;
    min-height: 1px;
    flex-direction: row;
    flex-wrap: wrap;

}

.items{
    font-size: 6em;
    width: 50%;
    text-align:center;
    color: black;
    border-radius: 300px;
    height: 140px;
    padding-top: 17px;
    background-color: blanchedalmond;
    margin-top: 8px;
    
}


/*MEDIA QUERIES PANTALLAS + 900PX*/
@media only screen and (min-width:600px)

.items{color:red
    background:black}



    /*MEDIA QUERIES PANTALLAS + 900PX*/
@media only screen and (min-width:600px)

a.items {color:red
    background: black;
    whidth:25% ;
    font: size 3em;
    height: 83px;
    margin-top: 6px;
}


.container{
    width: 400px;
    justify-content: space-between;

}

.sociales{
    padding-bottom: 50px;
}

a.items:hover{color:rgb(84, 0, 123)}